#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


/*Estilos para la primer Pre-entrega*/
.app{
  background-color: rgb(51, 57, 57);
}

.NavBar {
  background-color: rgb(179, 179, 187);
}

.cart_Widget{
  background-color: rgb(238, 189, 238);
}

.carrito {
  height: 30px;
}

.item_List_Container{
  background-color: rgb(255, 255, 255);
}

.cuerpo{
  display: block;
}

/* ----------------------------------------------------------------Estilos generales para las tarjetas-------------------------------------------- */
.CardItem {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 26vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.CardItemDetail{
  width: auto;
}

.CardItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Encabezado de la tarjeta */
.Header {
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.ItemHeader {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

/* Información del producto */
.Info, .Descripcion {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 8px;
}

/* Sección de categoría */
.Categoria {
  font-size: 0.9rem;
  color: #888;
}

/* Pie de la tarjeta */
.ItemFooter {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  border-top: 1px solid #eee;
  margin-top: 8px;
}

/* Botón de acción */
.Option {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.Option:hover {
  background-color: #0056b3;
}

.ListGroup {
  padding-left: 40px;
}

.ImgCard{
  width: 200px;
}